html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    color: #fff;
}

.header-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    gap: 5px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(56, 53, 255);
    user-select: none;
}

.header-list-item {
    display: flex;
}

.header-action-button {
    border: 0;
    background-color: rgb(56, 53, 255);
    cursor: pointer;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-colors .2s ease-in-out;
}

.header-action-button:hover {
    background-color: rgb(35, 33, 143);
    color: white;
    height: fill;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.dropdown-button {
    width: 100%;
    border-radius: 5px;
}

.container-main {
    width: fit-content;
    height: fit-content;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.container-paint {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: visible;
  }

.container-tools {
    display: flex;
    padding: 10px;
    padding-top: 5px;
    /* width: 7680px; */
    height: fit-content;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(56, 53, 255);
    border-bottom: 5px solid rgb(32, 33, 36);
    user-select: none;
}

.tool-section {
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 33, 36);
    border-radius: 10px;
}

.tool-section-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 30px;
}

.tool-label {
    font-size: 1.5rem;
    font-weight: 500;
}

.tool-p {
    width: 200px;
    display: flex;
    flex-direction: row;
}

.paint-button {
    appearance: none;
    -webkit-appearance: none;
    color: white;
    background-color: rgb(105, 105, 105);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
}

.paint-button[data-active="true"] {
    background-color: rgb(0, 89, 255);
}

.paint-number {
    appearance: none;
    -webkit-appearance: none;
    width: 65px;
    color: white;
    background-color: rgb(105, 105, 105);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.paint-color {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: relative;
    border: 0;
    background-color: rgb(105, 105, 105);
}

.paint-color input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.paint-color input[type="color"]::-webkit-color-swatch {
    border-radius: 100px;
    border: px solid red;
}

.paint-number-medium {
    appearance: none;
    -webkit-appearance: none;
    width: 75px;
    color: white;
    background-color: rgb(105, 105, 105);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.paint-value {
    width: 30px;
    text-align: center;
}

.canvas-zoom {
    transform-origin: 0 0;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    height: fit-content; /* You might need to adjust this based on your content */
  }

.zoom-controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    display: flex;
    gap: 5px;
}

.zoom-value {
    color: white;
    background-color: rgb(105, 105, 105);
    font-size: .8rem;
    font-weight: 400;
    border: 0;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.canvas {
    transform-origin: 0 0;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent; /* Set the background of the main canvas as transparent */
    border: 1px solid gray;
    cursor: crosshair; /* cursor for drawing */
}

.grid-canvas {
    transform-origin: 0 0;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid gray;
    background-color: transparent;
    z-index: -1; /* Put the grid canvas behind the main canvas */
}

pixel {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(0, 0, 0);
}

.hidden {
    display: none;
}

#warning {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
    background-color: orange;
    border-radius: 50%;
    user-select: none;
}

#warning::before {
    content: '!';
}